<plex-layout [aspect]="9" resizable="true">
    <plex-layout-main type="invert">
        <pdp-titulo></pdp-titulo>
        <pdp-menu>
            <plex-title size="sm" titulo="Mi equipo de salud">
                <plex-button type="success" icon="account-plus" tooltip="agregar miembro" class="ml-2" size="sm">
                </plex-button>
                <plex-button type="warning" label="evaluar profesional" tooltip="evaluar" class="ml-2" size="sm">
                </plex-button>
            </plex-title>
            <plex-grid type="full" size="md" colsSm="2" colsMd="3" colsLg="4" responsive>
                <plex-card type="dark" selectable="true" mode="filled" *ngFor="let profesional of equipo$ | async"
                           (click)="selected(profesional)" [selected]="profesional.selected">
                    <img class="img-fluid rounded-circle w-50 h-50 align-self-center" src="{{ profesional.foto }}"
                         alt="">
                    <plex-badge *ngFor=" let matricula of profesional.matriculas" type="info">MAT. NRO {{
                        matricula.numero }}
                    </plex-badge>
                    <plex-label titulo="{{ profesional.nombre }} {{ profesional.apellido }}"
                                subtitulo="{{ profesional.rol }}"></plex-label>
                    <plex-button type="info" size="sm" icon="mail"></plex-button>
                    <plex-button type="warning" size="sm" icon="star"></plex-button>
                    <plex-button type="danger" size="sm" icon="account-off"></plex-button>
                    <!-- TODO: fix plex-detail para que no renderee en el DOM grilla interna si no tiene info -->
                    <!--
                    <plex-detail size="xs" direction="column">
                        <img src="{{ profesional.foto }}" alt="">
                        <plex-badge *ngFor=" let matricula of profesional.matriculas" type="info">MAT. NRO {{
                            matricula.numero }}
                        </plex-badge>
                        <div title>
                            {{ profesional.nombre }} {{ profesional.apellido }}
                        </div>
                        <div subtitle>
                            {{ profesional.rol }}<br>
                            <p *ngFor="let esp of especialidad">{{ esp.nombre }}</p>

                        </div>
                    </plex-detail>-->

                </plex-card>
            </plex-grid>
        </pdp-menu>
    </plex-layout-main>
    <plex-layout-sidebar>
        <plex-title size="{{ isResponsive() ? 'sm' : 'md' }}" titulo="Miembro del equipo de salud">
            <plex-button type="danger" icon="close" size="sm" (click)="gotTo()"></plex-button>
        </plex-title>
        <router-outlet></router-outlet>
    </plex-layout-sidebar>
</plex-layout>