<plex-wrapper *ngIf="filtros">
    <plex-text label="busacador global de tu HUDS"
               placeholder="ingrese nombres de diagnósticos, médicos, organizaciones, medicamentos, etc."
               [(ngModel)]="searchTerm" [ngModelOptions]="{standalone: true}"></plex-text>

    <plex-datetime *mobile="false" label="¿Cuándo fuiste al médico?" [(ngModel)]="tModel.fechaHora" name="fechaHora"
                   case="lowercase" required>
    </plex-datetime>
    <plex-datetime *mobile="false" label="Fecha hasta" [skipBy]="'day'" [(ngModel)]="tModel.fecha" case="lowercase"
                   [min]="tModel.min" [max]="tModel.max" name="fechaSkip" required>
    </plex-datetime>
    <div collapse>
        <plex-grid cols="" type="full" size="sm">
            <plex-card *ngFor="let semantic of cards$ | async" align="center" size="sm"
                       type="{{ semantic.selected ? 'custom' : 'dark' }}" [selected]="semantic.selected"
                       (click)="semantic.selected = !semantic.selected" color="{{ semantic.color }}"
                       [routerLink]="[{ outlets: { listado: [semantic.path] } }]">
                <plex-label direction="column" size="xl" icon="{{ semantic.icono }}"></plex-label>
            </plex-card>
        </plex-grid>
    </div>
</plex-wrapper>