<!--<plex-layout main="{{ mainValue }}" foco="{{ valorFoco }}">
    <plex-layout-main type="invert">
        <pdp-titulo></pdp-titulo>

    </plex-layout-main>


    <plex-layout-sidebar *ngIf="sidebarValue">
        <plex-title size=" {{ isResponsive() ? 'md' : 'sm' }}" titulo="{{ isResponsive() ? 'detalle' : 'detalles' }}">
            <plex-button type="danger" icon="close" size="sm" (click)="contraerSidebar()" class="ml-2"></plex-button>
        </plex-title>
        <router-outlet></router-outlet>
    </plex-layout-sidebar>
</plex-layout>-->