<plex-layout [aspect]="9">
    <plex-layout-main type="invert">
        <ng-container>
            <pdp-titulo></pdp-titulo>
        </ng-container>
        <pdp-menu>
            <!--<input placeholder="busque turno, informes, medicamentos" [(ngModel)]="searchTerm" />-->
            <plex-grid type="full" size="md">
                <ng-container *ngFor="let card of cards$ | async | slice:2:5">
                    <plex-card span="{{ isResponsive() ? '1' : '3' }}" size="{{ isResponsive() ? 'sm' : 'md' }}"
                               mode="outlined" type="custom" selectable="true" [color]=card.color [selected]="true"
                               (click)="card.selected = !card.selected" [routerLink]="[ '/' , card.path ]">

                        <plex-label direction="{{ isResponsive() ? 'column' : 'row' }}" align="start"
                                    size="{{ isResponsive() ? 'md' : 'lg' }}" icon="{{ card.icono }}" case="capitalize"
                                    titulo="{{ card.titulo }}" class="text-white"
                                    [subtitulo]="isResponsive() ? ' ' : card.subtitulo" tooltip="{{ card.titulo }}"
                                    type="custom" [color]=card.color>
                        </plex-label>
                        <!-- acciones & notificaciones -->
                        <!--<plex-badge *ngIf="card.outlet === 'true'" type="warning" size="sm">items
                            <plex-button size="sm" label="3"></plex-button>
                        </plex-badge>-->
                        <plex-button *mobile="false" type="info" size="sm" label="ir a {{ card.titulo }}">
                        </plex-button>
                    </plex-card>
                </ng-container>

                <!-- Titular cuenta -->
                <ng-container *ngFor="let paciente of pacientes$ | async | slice:1:2">
                    <plex-card type="custom" color="#016890" mode="filled" size="md"
                               span="{{ isResponsive() ? '2' : '5' }}">
                        <plex-detail size="{{ isResponsive() ? 'sm' : 'md' }}"
                                     direction="{{ isResponsive() ? 'row' : 'row' }}"
                                     [ngClass]="isResponsive() ? 'no-margin' : ''">
                            <plex-badge size="success">titular</plex-badge>
                            <img src="{{ paciente.foto }}">
                            <!--<plex-icon name="paciente"></plex-icon>-->
                            <div title>
                                {{ paciente.nombre }} <br> {{ paciente.apellido }}
                            </div>
                            <div subtitle>
                                {{ paciente.documento }}
                                <br>
                                <plex-button *mobile="false" class="mr-2" size="sm" type="danger"
                                             label="{{ isResponsive() ? 'reportar error en mis datos' : 'reportar error' }}"
                                             (click)="modal.show()">
                                </plex-button>
                                <plex-button *mobile="false" size="sm" type="info" icon="information-variant"
                                             tooltip="ver datos secundarios"
                                             (click)="datosSecundarios = !datosSecundarios">
                                </plex-button>
                                <plex-button *mobile="false" class="ml-2" size="sm" type="warning" icon="pencil"
                                             tooltip="Editar mis datos" (click)="goTo('mis-datos-personales')">
                                </plex-button>
                            </div>
                        </plex-detail>
                    </plex-card>
                </ng-container>
                <!-- Mas cards -->
                <ng-container *ngFor="let card of cards$ | async | slice:5:7">
                    <plex-card span="{{ isResponsive() ? '1' : '3' }}" size="{{ isResponsive() ? 'sm' : 'md' }}"
                               mode="outlined" type="custom" selectable="true" [color]=card.color [selected]="true"
                               (click)="card.selected = !card.selected" [routerLink]="[ '/' , card.path ]">

                        <plex-label direction="{{ isResponsive() ? 'column' : 'row' }}" align="start"
                                    size="{{ isResponsive() ? 'md' : 'lg' }}" icon="{{ card.icono }}" case="capitalize"
                                    titulo="{{ card.titulo }}" class="text-white"
                                    [subtitulo]="isResponsive() ? ' ' : card.subtitulo" tooltip="{{ card.titulo }}"
                                    type="custom" [color]=card.color>
                        </plex-label>
                        <!-- acciones & notificaciones -->
                        <!--<plex-badge *ngIf="card.outlet === 'true'" type="warning" size="sm">items
                            <plex-button size="sm" label="3"></plex-button>
                        </plex-badge>-->
                        <plex-button *mobile="false" type="info" size="sm" label="ir a {{ card.titulo }}">
                        </plex-button>
                    </plex-card>
                </ng-container>

            </plex-grid>

        </pdp-menu>
    </plex-layout-main>
</plex-layout>