<plex-layout [aspect]="9">
    <plex-layout-main type="invert">
        <pdp-titulo></pdp-titulo>
        <pdp-menu>
            <plex-title size="sm" titulo="mis documentos"></plex-title>
            <plex-grid size="sm" type="full" cols="5">
                <plex-card type="dark" mode="filled" *ngFor="let doc of documentos$ | async" (click)="selected(doc)">
                    <img src="{{ doc.url }}" alt="">
                    <plex-label size="md" direction="column" titulo="{{ doc.nombre }}" subtitulo="{{ doc.extension }}">
                    </plex-label>
                    <plex-button type="info" size="sm" icon="eye"></plex-button>
                    <plex-button type="warning" size="sm" icon="share"></plex-button>
                    <plex-button type="danger" size="sm" icon="delete"></plex-button>
                </plex-card>
            </plex-grid>
        </pdp-menu>
    </plex-layout-main>

    <plex-layout-sidebar>
        <plex-title size="{{ isResponsive() ? 'sm' : 'md' }}" titulo="Detalle documento">
            <plex-button type="danger" icon="close" size="sm" (click)="gotTo()"></plex-button>
        </plex-title>
        <router-outlet></router-outlet>
    </plex-layout-sidebar>
</plex-layout>