<!--<plex-title size="sm" titulo="Mis consultas">
    <plex-badge *mobile="false" type="info">27/01/2021</plex-badge>
    <plex-button type="info" icon="filter" tooltip="mostrar filtros" class="ml-2" size="sm" (click)="mostrarFiltros()">
    </plex-button>
</plex-title>
-->

<plex-list height="50vh">
    <plex-item *ngFor="let prestacion of prestaciones$ | async | prestacionesFilter: searchTerm"
               (click)="selected(prestacion)">
        <plex-label icon="{{ prestacion.icono }}" titulo="{{ prestacion.nombre }}" size="lg"
                    subtitulo="Atendido por: {{ prestacion.profesional }}"></plex-label>
        <plex-label *mobile="false" icon="hospital" titulo="{{ prestacion.organizacion }}"
                    subtitulo="{{prestacion.servicio }} | {{ prestacion.sector }}"></plex-label>
        <plex-badge type="info">{{ prestacion.fecha }}</plex-badge>
        <plex-button type="info" size="sm" icon="eye"></plex-button>
    </plex-item>
</plex-list>

<!--<section class="h-100">
    <plex-label size="xl" titulo="Bienvenido a tu portal de salud!" subtitulo="Aquí podrás visualizar tu Historia Unificada de Salud
    y comunicarte con organizaciones y equipos de salud" icon="historial"></plex-label>
    <plex-button type="info" size="lg" label="Ver mis último registros" routerLink="miHuds"></plex-button>
</section>-->